# Node
node_modules
dist
*.log

# Python
.venv
__pycache__/
.pytest_cache/

# Reports
allure-results/
allure-report/
cypress/cypress/videos/
cypress/cypress/screenshots/
cypress/allure-results/
cypress/allure-report/
node_modules/
